<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style_data.css') }}">
  
  
   </head>
   <body>


      <h1>Webserver Data</h1>
      <h2>Datum und Zeit: {{ time }}</h2>
	
		<p> out_startdaten = {{out_startdaten}}		
		 out_lbdaten = {{out_lbdaten}}
		 out_hbdaten = {{out_hbdaten}}
		 outdatastring = {{outdatastring}}
		 </p>
		<p> in_startdaten = {{in_startdaten}}		
		 in_lbdaten = {{in_lbdaten}}
		 in_hbdaten = {{out_hbdaten}}
		 indatastring = {{indatastring}}
		 </p>
		 

	
	<p>pw: {{pw}}
	<p>pwIP: {{pwIP}}
	<p>pwok: {{pwok}}
	<p>approot: {{approot}}
	<p>appstatic: {{appstatic}}
	
	
	
		<br>
		<h4> Commands </h4>
		<p> YLW LED Ctrl ==>
		{% if  ledYlw   == 1 %}
				<a href="/ledYlw/off"class="button">TURN OFF</a>
			{% else %}
				<a href="/ledYlw/on" class="button">TURN ON</a> 
			{% endif %}	
<!--
		#	YLW LED Ctrl ==> 
		#	<a href="/ledYlw/on" class="button">TURN ON</a>  
		#	<a href="/ledYlw/off"class="button">TURN OFF</a>
-->
		</p>
		<h4> 
			Fertig 
			<a href="../" class="button">Back</a>  
		</h4>

 		</h1>
		<h4>{{ buttontitle }}</h2>
		<p>Knopf pressed:  {{ button }}</p>
		<p>Motion detected: {{ senPIR }}</p>






  </body>
</html>
